.panel-height {
    height: 700px;
    overflow-y: scroll;
}

.container hr {
    margin: 2px 0;
}

.container .lead {
    margin-bottom: 5px;
}

.container .mark {
    background-color: #E3F3FF;
}

.container .custom-star {
    color: #FFA731;
}

.container .customRemoveActive {
    color: #FC000D;
}

.container .customRemoveInctive {
    color: #7F7F7F;
}
.navbar-custom {
    color: #FFFFFF;
    background-color: #032746;
}